#calc-case{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 300px;
    min-width: 300px;
    align-items: center;
}

#display {
    margin: 10px;
    text-align: center;
    color: white;
    min-width: 100%;
    min-height: 20px;
    background-color: black;
    border: solid;
    border-color: bisque;
}

#btnWrapper {
    display: flex;
}

.number {
    margin: 2px;
    padding: 20px;
    min-width: 60px;
    min-height: 60px;
    
}

.operator {
    margin: 2px;
    padding: 20px;
    min-width: 60px;
    min-height: 60px;
}

#clear {
    display: flex;
}