#calc-case{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

#display {
    margin: 10px;
    text-align: center;
    color: white;
    background-color: black;
    width: 200px;
}

#numbers{
    display: flex;
    flex-wrap: wrap;
}

.number {
    margin: 2px;
}

.operator {
    margin: 2px;
}